@charset "UTF-8";

/* Media query Celular */
@media screen and (max-width: 768px) {

    
    ul {
        display: none;
    }

    menu {
        content: 'M';
        color: black;
        background-color: white;
        height: 5vw;
    }
    menu:hover ul{
        display: inline-block;
        background-color: none;

    }
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: lightgray;
}
header {
    background-color: gray;
}
header h1{
    text-align: center;
    padding: 20px;
}

ul {
    width: 500px;
}

menu li {
    display: inline-block;
    padding: 10px;
    background-color: rgb(55, 54, 54);    
}

menu a {
    color: white;
}

a {
    text-decoration: none;
}


main {
    background-color: white;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 20px;
    padding: 10px 10px 30px 10px;
}

main h2 {
    padding: 10px;
}
main p {
    text-indent: 15px;
}