@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5;
}

header {
    background-color: white;
    padding: 20px;
}

header > h1 {
    margin-bottom: 20px;
}

h1 {
    border: 1px dotted black;
}

header > p {

}

section.flex { 

    display:flex;
    flex-flow: row-reverse wrap;
    justify-content: space-around;
    
}

section.flex img{
    border: 1px dotted black;
    margin: 30px;
    width: 400px;
    height: 300px;
    
    padding: 20px;
}

h2 {
    padding: 10px;
    /* border: 1px dotted black; */
}

p {
    /* border: 1px dotted black; */
    padding: 10px;
    text-indent: 20px;
}



section.texto1 {
    margin: 40px;
    /* border: 5px dotted black; */
    flex: 1 1 300px;
}

section.flex2 { 
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}
section.texto2 {
    /* border: 5px dotted black; */
    margin: 20px;
    flex: 1 1 300px;
}

iframe {
    border: 1px dotted black;
    margin: 30px;
    height: 300px;
    padding: 20px;

    flex: 0 1 auto;
    
}

article {
    background-color: white;
}
